body {
  max-width: 1440px;
  min-width: 1200px;
  margin: 0 auto;
}
header {
  background: url('../img/background-2@1x.jpg') no-repeat;
  background-size: cover;
}
nav {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 17%;
  padding-right: 17%;
  background-color: rgba(6, 17, 34, 0.5);
}
.logo-container {
  width: 12%;
  background: url('../img/logo@1x.png') no-repeat;
  background-size: contain;
  background-position: center 30%;
}
.logo-container a {
  display: block;
  width: 100%;
  height: 100%;
}
.mobile-menu {
  display: none;
}
.mobile-menu-btn,
.menu-close-btn {
  display: none;
}
.main-menu {
  list-style: none;
  display: flex;
  justify-content: space-between;
  min-width: 65%;
  padding: 0;
}
.menu-link {
  text-decoration: none;
  color: white;
  position: relative;
}
.menu-link:hover::after {
  content: "";
  position: absolute;
  width: 98%;
  border: 1px solid white;
  top: 30px;
  left: 0;
}
.header-content-container {
  padding-left: 17%;
  display: flex;
}
.header-content-block {
  color: white;
  width: 25%;
  padding-top: 80px;
  padding-bottom: 130px;
}
.header-content-block a {
  text-decoration: none;
  color: white;
}
.header-content-block h1 {
  font-size: 50px;
  text-align: center;
  font-weight: normal;
  padding-bottom: 40px;
}
.mobile-hand-container {
  display: none;
}
.download-btn {
  width: 100%;
  border: 3px solid white;
  border-radius: 20px;
  font-size: 21px;
  text-align: center;
  padding-top: 7px;
  padding-bottom: 7px;
}
.download-btn a {
  display: block;
  height: 100%;
}
.store-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 70px;
  padding-bottom: 50px;
}
.promo-description {
  text-align: center;
  font-size: 18px;
}
.header-hand-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.hand-image {
  width: 610px;
  height: 645px;
  background: url('../img/iphone-hand-3c@1x.png') no-repeat;
  background-size: cover;
}
.promo-container {
  padding-top: 80px;
}
.promo-header {
  text-align: center;
  width: 52%;
  margin: 0 auto;
  font-size: 50px;
  font-weight: normal;
  color: #283645;
}
.mobile-promo-header {
  display: none;
}
.phone-container {
  display: flex;
  justify-content: space-between;
  padding-left: 17%;
  padding-right: 17%;
  padding-top: 40px;
  background: url('../img/bgn-1.png') no-repeat 0 45px;
  background-size: 100%;
}
.phone-frame {
  display: none;
}
.phone-block {
  width: 28%;
}
.phone-screen-block {
  width: 100%;
  height: 302px;
}
.screen-1 {
  background: url('../img/iphone-screen-3-1@1x.png') no-repeat center 0;
}
.screen-2 {
  background: url('../img/iphone-screen-3-2@1x.png') no-repeat center 0;
}
.screen-3 {
  background: url('../img/iphone-screen-3-3@1x.png') no-repeat center 0;
}
.phone-block-header {
  width: 80%;
  text-align: center;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 30px;
}
.phone-block-description {
  text-align: center;
  color: #283645;
  width: 75%;
  margin: 0 auto;
}
.effect-container {
  display: flex;
  padding-left: 17%;
  padding-right: 17%;
  padding-top: 65px;
  padding-bottom: 60px;
  background-color: #f2f2f2;
}
.clock-block {
  position: relative;
}
.clock-content {
  position: absolute;
  width: 225px;
  height: 225px;
  font-size: 120px;
  font-weight: bold;
  color: #d22856;
  border: 10px solid #d22856;
  border-radius: 50%;
  padding-top: 27px;
  padding-left: 35px;
  box-sizing: border-box;
  top: 84px;
  left: 37px;
}
.clock {
  fill: #dedede;
}
.effect-block {
  padding-left: 70px;
  padding-top: 50px;
  font-size: 17px;
}
.effect-description {
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 17px;
}
.effect-link a {
  color: #d22856;
}
.comment-container {
  position: relative;
}
.comment-content-container {
  display: flex;
  border: 1px solid red;
  width: 680px;
  margin: 0 auto;
}
.quotes-block {
  text-align: center;
}
.quotes-block span {
  display: inline-block;
  vertical-align: bottom;
  font-size: 240px;
  line-height: 26px;
  padding-top: 120px;
  color: #dedede;
}
/*--------правила для слайдера-------*/
.viewport {
  overflow: hidden;
  position: relative;
  width: 680px;
  height: 210px;
  margin: 0 auto;
}
.slidewrapper {
  position: absolute;
  left: 0;
  top: 0;
  height: 150px;
  margin: 0;
  padding: 0;
  display: flex;
}
.slide {
  width: 680px;
  height: 100px;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
}
.mobile-slider {
  display: none;
}
/*----------------------------------------*/
.user-comment {
  width: 60%;
  margin: 0 auto;
  font-size: 17px;
  text-align: center;
}
.user-block {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user-block .user-name {
  margin-bottom: 10px;
}
.user-info {
  text-align: center;
}
.arrow {
  position: absolute;
  width: 22px;
  height: 42px;
  top: 40%;
}
.left-arrow {
  left: 17%;
  background: url('../img/left-arrow.png') no-repeat;
  background-size: cover;
}
.right-arrow {
  left: 83%;
  background: url('../img/right-arrow.png') no-repeat;
}
/*--------------Таблица с фишками---------------*/
.price-container input {
  display: none;
}
.price-container {
  padding-left: 17%;
  padding-right: 17%;
  padding-top: 155px;
  padding-bottom: 95px;
  background: url('../img/bgn-1.png');
}
.price-table {
  width: 100%;
  border-collapse: collapse;
}
td {
  width: 25%;
  background-color: white;
  text-align: center;
}
th {
  background-color: #283645;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}
th span {
  display: block;
}
th:not(:last-child) {
  border-right: 1px solid white;
}
.hit-cell {
  overflow: hidden;
}
.mark-wrapper {
  position: relative;
}
.hit-mark {
  color: white;
  font-size: 14px;
  background: #d22856;
  transform: rotate(-45deg);
  position: absolute;
  top: -7px;
  left: -28px;
  width: 110px;
  height: 25px;
  line-height: 20px;
}
.empty-cell {
  background: none;
}
.cell-header {
  font-size: 18px;
  padding-bottom: 5px;
}
.cell-content {
  font-size: 24px;
  font-weight: normal;
  color: #8c949c;
}
.feauture-name {
  font-size: 18px;
  color: #283645;
  padding-left: 7px;
  padding-top: 15px;
  padding-bottom: 15px;
}
td {
  border: 2px solid #dedede;
}
/*-------------------------------------*/
.contacts-container {
  padding-top: 75px;
}
.contacts-header {
  text-align: center;
  width: 52%;
  margin: 0 auto;
  font-size: 50px;
  font-weight: normal;
  color: #283645;
  width: 45%;
}
.contacts-block-container {
  display: flex;
  justify-content: space-between;
  width: 58%;
  margin: 0 auto;
  padding-top: 55px;
  padding-bottom: 55px;
}
.contact-block {
  width: 32%;
}
.contact-block-header {
  text-align: center;
  font-size: 18px;
}
.contact-block-content {
  margin: 0 auto;
  text-align: center;
  width: 67%;
  color: #d22856;
}
.map-block {
  width: 100%;
}
.map-frame {
  border: none;
  box-sizing: border-box;
}
footer {
  display: flex;
  justify-content: space-between;
  padding-top: 65px;
  padding-bottom: 65px;
  padding-left: 17%;
  padding-right: 17%;
}
.footer-mobile-logo-link {
  display: none;
}
.footer-block {
  display: flex;
}
.soc-container {
  width: 190px;
  display: flex;
  justify-content: space-between;
  padding-left: 60px;
}
.soc-block {
  width: 50px;
  height: 50px;
  border: 3px solid #f2f2f2;
  border-radius: 50%;
}
.soc-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  vertical-align: middle;
  fill: #d22856;
}
.copyright-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 210px;
}
.copyright-logo a {
  fill: #d22856;
}
@media (min-resolution: 1.5dppx) {
  header {
    background: url('../img/background-1@2x.jpg');
    background-size: 100%;
  }
  .logo-container {
    width: 15%;
    background: url('../img/Pink-logo-3@2x.png') no-repeat;
    background-size: 100%;
    background-position: 0 40%;
  }
  .hand-image {
    background-image: url('../img/iphone-hand-3с@2x.png');
  }
  .phone-screen-block {
    background-size: 110%;
  }
  .screen-1 {
    background-image: url('../img/iphone-screen-3-1@2x.png');
  }
  .screen-2 {
    background-image: url('../img/iphone-screen-3-2@2x.png');
  }
  .screen-3 {
    background-image: url('../img/iphone-screen-3-3@2x.png');
  }
}
@media only screen and (max-width: 980px) {
  body {
    min-width: 700px;
    max-width: 980px;
  }
  header {
    background: url('../img/iphone-hand-2@1x.png') no-repeat, url('../img/background-1@1x.jpg') no-repeat;
    background-size: 700px 545px, cover;
    background-position: bottom, center;
    position: relative;
  }
  .logo-container {
    width: 145px;
    height: 60px;
    background: url('../img/Pink-logo-2@1x.png') no-repeat;
    margin-left: 20px;
    margin-top: 10px;
  }
  nav {
    flex-direction: column;
    position: relative;
    padding: 0;
  }
  .main-menu {
    display: none;
  }
  .mobile-menu {
    list-style: none;
    color: white;
    width: 100%;
    padding: 0;
  }
  .menu-item {
    font-size: 17px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #283645;
    border-bottom: 1px solid black;
  }
  .mobile-menu-btn {
    display: block;
    width: 53px;
    height: 25px;
    position: absolute;
    left: 87%;
    top: 32%;
  }
  .menu-close-btn {
    fill: white;
    display: block;
    width: 53px;
    height: 25px;
    position: absolute;
    left: 87%;
    top: 32%;
    display: none;
  }
  .header-content-container {
    padding-left: 30px;
  }
  .header-content-block {
    z-index: 1;
    width: 50%;
  }
  .hand-image {
    display: none;
  }
  .promo-header {
    font-size: 40px;
    font-weight: normal;
    width: 87%;
  }
  .phone-container {
    flex-direction: column;
    align-items: flex-end;
    background-size: cover;
    padding: 0;
    padding-top: 120px;
    padding-bottom: 40px;
    padding-left: 330px;
    position: relative;
  }
  .phone-frame {
    display: block;
    position: absolute;
    width: 270px;
    left: 20px;
    top: 0;
    height: 100%;
    background-image: url('../img/iphone-screen-1-1@1x.png'), url('../img/iphone-case-1@1x.png');
    background-size: 220px, 268px;
    background-position: center 90%, bottom;
    background-repeat: no-repeat, no-repeat;
  }
  .phone-block {
    width: 90%;
    margin-bottom: 25px;
  }
  .phone-block-header,
  .phone-block-description {
    margin: 0;
    padding: 0;
    padding-top: 10px;
    text-align: left;
  }
  .phone-screen-block {
    display: none;
  }
  .effect-container {
    background-color: white;
    padding-left: 40px;
    padding-right: 40px;
  }
  .effect-container .effect-block {
    padding-left: 50px;
  }
  .quotes-block,
  .arrow {
    display: none;
  }
  .main-slider {
    display: none;
  }
  .mobile-slider {
    display: block;
    padding-bottom: 40px;
  }
  .cell-header {
    font-size: 16px;
  }
  .cell-content {
    font-size: 18px;
  }
  .feauture-name {
    font-size: 14px;
  }
  .contacts-header {
    width: 58%;
    font-size: 40px;
  }
  .contacts-block-container {
    width: 52%;
    flex-wrap: wrap;
  }
  .contact-block {
    width: 50%;
  }
  .adress-block {
    order: 3;
    margin: 0 auto;
  }
  .mail-block {
    order: 2;
  }
  footer {
    width: 90%;
    padding: 0;
    padding-left: 5%;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .footer-logo-link {
    display: none;
  }
  .footer-mobile-logo-link {
    display: block;
  }
  .copyright-container {
    font-size: 14px;
  }
}
@media only screen and (max-width: 699px) {
  body {
    max-width: 700px;
    min-width: 480px;
  }
  header {
    background: url("../img/background-1@1x.jpg") no-repeat;
    background-size: cover;
    background-position: center bottom;
  }
  .header-content-container {
    padding: 0;
  }
  .header-content-block {
    width: 100%;
    padding: 0;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid yellow;
  }
  .header-content-block h1 {
    font-size: 24px;
    margin: 0;
  }
  .mobile-hand-container {
    display: block;
  }
  .mobile-hand-container img {
    height: 100%;
  }
  .orthopedia-container {
    width: 100%;
    background-color: #1d2631;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .download-btn {
    width: 80%;
    border-radius: 32px;
    font-size: 18px;
  }
  .download-btn a {
    display: block;
    height: 100%;
    padding-bottom: 16px;
    padding-top: 11px;
  }
  .store-container {
    width: 60%;
  }
  .promo-description {
    font-size: 16px;
    width: 60%;
  }
  .promo-header {
    display: none;
  }
  .promo-container {
    padding-top: 25px;
  }
  .mobile-promo-header {
    display: block;
    width: 50%;
    font-size: 30px;
    color: #283645;
    margin: 0 auto;
  }
  .mobile-promo-header p {
    text-align: center;
  }
  .phone-container {
    flex-direction: column;
    align-items: center;
    padding-left: 0;
    padding-bottom: 0;
    padding-top: 100px;
    background-size: cover;
    background-position: top;
  }
  .phone-block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .phone-block p {
    text-align: center;
    font-size: 18px;
  }
  .phone-block-header {
    font-size: 27px;
    text-align: center;
  }
  .phone-frame {
    position: static;
    height: 380px;
    order: 4;
    align-self: center;
    background-size: 165px auto, 200px auto;
  }
  .effect-container {
    display: none;
  }
  /*оформление таблицы в виде простого слайдера*/
  .price-container {
    margin-top: 35px;
    position: relative;
    overflow: hidden;
    height: 190px;
    padding-bottom: 130px;
    padding-top: 120px;
  }
  .price-table {
    position: absolute;
    width: 350%;
    left: -170%;
  }
  #t1:checked ~ .price-table {
    transition: ease-in-out 0.5s;
    left: -80%;
  }
  #t2:checked ~ .price-table {
    transition: ease-in-out 0.5s;
    left: -170%;
  }
  #t3:checked ~ .price-table {
    transition: ease-in-out 0.5s;
    left: -256%;
  }
  .t-controls {
    position: absolute;
    top: 87%;
    left: 40%;
  }
  .price-container label {
    cursor: pointer;
    display: inline-block;
    height: 8px;
    margin: 25px 12px 0 16px;
    position: relative;
    width: 8px;
    border-radius: 50%;
    transition: background ease-in-out 0.5s;
  }
  .price-container label::after {
    border: 2px solid #ddd;
    content: " ";
    display: block;
    height: 12px;
    left: -4px;
    position: absolute;
    top: -4px;
    width: 12px;
    border-radius: 50%;
  }
  .wrapper label:hover,
  #t1:checked ~ .t-controls label:nth-of-type(1),
  #t2:checked ~ .t-controls label:nth-of-type(2),
  #t3:checked ~ .t-controls label:nth-of-type(3) {
    background: #ddd;
  }
  /*-------------------------------------*/
  .contacts-block-container {
    width: 100%;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
  }
  .contact-block {
    padding-bottom: 20px;
  }
  .map-container {
    position: relative;
  }
  .map-container::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 130px;
    background: url('../img/triangle.png') no-repeat;
    background-position: top;
    background-size: 100% 130px;
    z-index: 1;
  }
  footer {
    display: none;
  }
}
