

@font-face{
	font-family: 'Social Logos';
	src: url('../fonts/Social Logos tfb.ttf');
		
}

@font-face{
	font-family: 'Signika';
	src: url('../fonts/Signika-Regular.ttf');
}

body{
	font-family: 'Signika';
	width: 1920px
}

body a{
	text-decoration: none;
	color: inherit;
}

.header-pic{
	
	width: 1921px;
	
	background-image: url("../pics/Layer 1.png");
	text-align: center;
	padding-top: 450px;
	padding-bottom: 80px;
	
}

.welcome1{
	color: white;
	font-family: 'Signika';
	font-size: 108px;

}

.welcome2{
	color: white;
	font-size: 48px;
    font-weight: bold;
	margin-top: 50px;
}

.welcome3{
	color: white;
	text-transform: uppercase;
	margin-top: 20px;
	margin-bottom: 180px;
	font-size: 18px;

}

nav{
	width: 1921px;
	min-height: 50px;
	background-color: #00a388;
	color: white;
	text-align: center;
	font-size: 18px;
	word-spacing: 10px;
	text-transform: uppercase;
	padding-top: 20px;
	
}

.about{
	width: 1921px;
	text-align: center;
	background-color:#ecfffc;
	padding-top: 100px;
}


.chapter-head{
	text-align: center;
	font-size: 48px;
	font-weight: bold;
	text-transform: uppercase;
	width: inherit;
	line-height: 40px;
	
	
}

.chapter-string{
	font-size: 16px;
	font-weight: normal;
	 line-height: 1.25;
}

.column{
	display: inline-block;
	width: 620px;
	height: 200px;
	text-align: justify;
	line-height: 30px;
	margin-top: 50px;
	margin-left: 75px;
	margin-right: 75px;
	margin-bottom: 75px;
	font-size: 14px;
}

.clearfix{
	clear: both;
}
.staff-centrator{
	margin-bottom: 100px;
	padding-bottom: 1px;
	
	min-height: 540px;
}

.staff-container{
	float: left;
	text-align: center;
	width: 270px;
	margin-left: 220px;
	margin-right: 35px;
	
	
}

.staff-name{
	font-size: 18px;
	
}

.staff-pro{
	font-size: 16px;
	
}

.staff-descr{
	text-align: justify;
	margin: 10px;
	display: none;
}

.staff-container pre{
	font-family: "Signika";
}

.staff-container:hover p{
	display: block;
	
	color: white;
}

.staff-container:hover{
	background-color: #00a388;
	color: white;
}

.staff-container:hover span{
	
}

.staff2{
	margin-left: 90px;
}

.staff3{
	margin-left: 100px;
}

.staff4{
	margin-left: 100px;
}

.social-btn{
	
	font-family: 'Social Logos';
	font-size: 36px;
	color: invert;
	background-color: #00a388;
	margin-right: 10px;
	
}

.soc-container{
	display: inline-block;
	width: 100%;
	text-align: center;
	margin-top: 10px;
}
	
.gallery{
	margin-top: 85px;
}

.about{
	margin-bottom: 85px;
	
}		


.img-container{
	position: relative;
	float: right;
	
	
		
}

.back-container{
	position: absolute;
	background-color: black;
	width: 480px;
	height: 238px;
	display: none;
	padding-top: 80px;
	background: #00a388 url("../pics/glyphicons_186_move.png") no-repeat 220px 190px;
	
	
}

.back-container span:nth-child(1){
	display: inline-block;
	font-size: 30px;
	font-weight: bold;
	color: white;
		
}

.back-container span:nth-child(3){
	display: inline-block;
	font-size: 20px;
	font-weight: bold;
	color: white;
	margin-top: 30px;
		
}

.img-container:hover .back-container{
	display: block;
}











/*.img-container:hover:before{
	
	content: "APP LANDING PAGE";
	position: absolute;
	color: white;
	
	font-size: 30px;
	font-weight: bold;
	top: 100px;
	left: 110px;
	
	
}

.img-container:hover:after{
	
	content: "WEB DESIGN";
	position: absolute;
	color: white;
	font-size: 18px;
	font-weight: semi-bold;
	top: 150px;
	left: 200px;
	
	
}
*/


.gallery-img{
	float: right;
	width: 480px;
		
}
.gallery-img:hover{
	opacity: 0.5;
}

.services-content{
	margin-bottom: 85px;
	
	
}

.service-block{
	position: relative;
	float: left;
	width: 645px;
	min-height: 334px;
	
	text-align: left;
	margin-top: 75px;
	margin-right: 110px;
	text-align: justify;
}

.service-block:hover {
	background-color: #f5fffd;
}

.service-block:hover{
	
	;
}

.services-content{
	margin-left: 263px;	

}
.service-block p{
	font-size: 14px;
}

.service-logo{
	width: 115px;
	text-align: center;
    padding-top: 20px;
	padding-bottom: 20px;
	background-color: #00a388;
}

.logo2{
	min-height: 60px;
}

.service-link a{
	display: none;
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
	color: black;
	float: right;
	position: absolute;
	right: 0px;
	bottom: 2px;
	
}

.service-block:hover a{
	display: block;
}

.blog{
	padding-top: 115px;
	
}



.blog-block{
	float: left;
	width: 322px;
	height: 679px;
	margin-top: 40px;
	margin-right: 30px;
	
}

.blog-block-1{
    background: url('../pics/photo-1452571817344-8d5a4c2100c6.png') no-repeat;
}

.blog-block-2{
    background: url('../pics/photo-1444412667101-4eccfdeeff07.png') no-repeat;
}

.blog-block-3{
    background: url('../pics/photo-1452692540641-200c94615e63.png') no-repeat;
}

.blog-block-4{
    background: url('../pics/photo-1444394668777-6fa6de8b8356.png') no-repeat;
	margin-right: 0px;
}

.blog-block-5{
    background: url('../pics/photo-1453738773917-9c3eff1db985.png') no-repeat;
}

.blog-block-6{
    background: url('../pics/photo-1430799593721-27f43821710d.png') no-repeat;
}

.blog-block-7{
    background: url('../pics/photo-1444419452292-0bf8659d8674.png') no-repeat;
}

.blog-block-8{
    background: url('../pics/photo-1446476012059-4f9c278d54d5.png') no-repeat;
	margin-right: 0px;
}


.blog-text{
	text-align: justify;
	height: 355px;
	width: 322px;
	margin-top: 324px;
	background-color: white;


	
	
	
}

.blog-text p, .blog-text h1{
	margin: 20px;
}

.blog-text a{
	text-decoration: none;
	color: inherit;
	margin: 20px;
	line-height: 50px;
	
}

.blog{
	margin-top: 85px;
	padding-bottom: 225px;
	
	width: 1921px;
	background-color: #ecfffc;
	
}

.blog-content{
	width: 1391px;
	margin-left: 270px;
	
}

.map{
	margin-bottom: 155px;
}

.form-container{
	margin-bottom: 155px;	
	
}

.form-container input{
	display: block;
	width: 560px;
	height: 75px;
	background-color: black;
	color: white;
	margin-top: 35px;
	margin-left: 380px;
	border: 1px solid black;
	border-radius: 18px;
	font-size: 18px;
	padding-left: 20px;
	
    
}

.form-container textarea{
	float: right;
	width: 540px;
	height: 174px;
	margin-right: 355px;
	margin-top: -195px;
	background-color: black;
	color: white;
	font-size: 18px;
	padding-top: 20px;
	padding-left: 20px;
	border: 1px solid black;
	border-radius: 18px;
		
}


#submit{
	width: 144px;
	height: 47px;
	margin-left: 912px;
	padding: 0;
	
}

.footer-nav{
	background-color: #02c5a5;
}

.adress{
	background-color: #00a388;
	padding-left: 275px;
	padding-top: 120px;
	padding-bottom: 120px;
	padding-right: 387px;
}



.adress-info{
	float: left;
	width: 160px;
	color: white;
	font-size: 18px;
	margin-right: 75px;
	line-height: 24px;
	
}

.social-btn-footer{
	float: right;
	width: 55px;
	height: 55px;
	border: 2px solid red;
	margin-right: 10px;
	margin-top: 20px;
	background-color: white;
	
}

.google-btn{
	background-color: #d43524;
	background-image: url('../pics/Logo.png');
	background-repeat: no-repeat;
	background-position: 15px 15px;
	border: 1px solid #d43524;
	border-radius: 50%;
}

.facebook-btn{
	
	background-image: url('../pics/1359059603_picons36@1,25x.png');
	background-repeat: no-repeat;
	background-position: -5px -5px;
	border: 1px solid #547bbd;
	border-radius: 50%;
	
}

.twitter-btn{
	background-image: url('../pics/tw_logo.png');
	background-position: -3px -5px;
	border: 1px solid #33ccfc;
	border-radius: 50%;
	
}

.inst-btn{
	background-image: url('../pics/logo_inst.png');
	background-position: -4px -4px;
	border: 1px solid #007fb3;
	border-radius: 50%;
}
	
	



