body {
  background: url('../img/bgrnd.jpg') no-repeat;
  background-size: cover;
}
.main-container {
  background-color: white;
}
.nav-menu {
  padding-top: 30px;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.menu-item {
  cursor: pointer;
  padding-left: 15px;
  padding-right: 15px;
}
.menu-item:hover {
  background-color: lightgrey;
}
.button-container {
  display: flex;
  padding-top: 30px;
}
.custom-btn {
  width: 120px;
  height: 70px;
  font-size: 18px;
  margin-right: 20px;
  background: none;
  border: 2px solid lightgrey;
  border-radius: 3px;
}
.custom-btn:hover {
  background-color: darkgrey;
}
.news-wrapper {
  padding-top: 50px;
}
.news-logo {
  padding-bottom: 30px;
}
.news-container {
  border: 2px solid lightgrey;
  padding: 15px;
  margin-bottom: 20px;
  cursor: pointer;
}
.news-image {
  padding-left: 0;
  position: relative;
}
.plus-btn {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 0%;
  background: white url('../img/plus.png') no-repeat;
  background-size: cover;
  z-index: 100;
}
.plus-btn:hover {
  transform: scale(1.2);
}
.news-container:hover {
  border: 2px solid darkgrey;
}
.article-header h1 {
  font-size: 50px;
}
.one-article-image {
  padding-left: 15px;
}
.article-description {
  font-size: 24px;
}
.source-link {
  font-size: 19px;
}
.watch-list-container {
  padding-bottom: 30px;
}
/**********Формочка***************/
.user-articles form {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 40px;
  margin-bottom: 75px;
  border-bottom: 2px solid lightgrey;
}
.title-field {
  border: 1px solid darkgrey;
  font-size: 24px;
  margin-bottom: 15px;
  padding-left: 20px;
}
.article-field {
  padding-left: 20px;
  font-size: 20px;
}
.article-submit-btn {
  width: 80%;
  margin: 0 auto;
  font-size: 24px;
  margin-top: 20px;
}
/********************************/
.user-articles {
  padding-bottom: 50px;
}
.user-articles-header {
  text-align: center;
}
.articles-block {
  border: 1px solid darkgrey;
}
